# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# List files
alias ll='ls -lah'
alias la='ls -A'
alias l='ls -CF'

# Safety
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Git
alias g='git'
alias gs='git status'
alias ga='git add'
alias gaa='git add --all'
alias gc='git commit -m'
alias gca='git commit --amend'
alias gp='git push'
alias gpf='git push --force-with-lease'
alias gl='git pull'
alias gf='git fetch'
alias gb='git branch'
alias gco='git checkout'
alias gcb='git checkout -b'
alias gsw='git switch'
alias gswc='git switch -c'
alias gm='git merge'
alias gr='git rebase'
alias gri='git rebase -i'
alias glog='git log --oneline --graph --decorate'
alias gd='git diff'
alias gds='git diff --staged'
alias gst='git stash'
alias gstp='git stash pop'

# Shortcuts
alias cl='clear'
alias h='history'
alias reload='source ~/.zshrc'
alias ports='sudo lsof -i -P -n | grep LISTEN'
alias myip='curl -s ifconfig.me'
alias update='sudo apt update && sudo apt upgrade -y'
alias df='df -h'
alias du='du -h'
alias free='free -h'

# Quick edit
alias zshrc='nano ~/.zshrc'
alias aliases='nano ~/.aliases'

#Serveur
alias f2b='sudo fail2ban-client status sshd'

#QOL
alias cat='batcat'

#VSCode projects
alias ang-portfolio='code --remote ssh-remote+vmCDA /home/ubuntu/projects/protfolio-v2'
alias react-pizzeria='code --remote ssh-remote+vmCDA /home/ubuntu/react-sofiane/pizzeria-v2'

##################
# Tree utilities #
##################

# Ignores gitignored files
alias tgit='tree -I "$(cat .gitignore | grep -v "^#" | grep -v "^$" | tr "\n" "|" | sed "s/|$//")"'

# Pour Angular
alias tang='tree -L 3 -I "node_modules|dist|.angular|coverage|.nx"'
alias tangc='tree -L 2 -d -I "node_modules|dist|.angular"'  # Directories only, cleaner

# Pour Express
alias texp='tree -L 3 -I "node_modules|dist|build|coverage"'

# Pour ton projet full-stack (Angular + Express)
alias tfull='tree -L 2 -I "node_modules|dist|.angular|coverage|build|*.log"'
alias tclean='tree -L 3 -ah -I "node_modules|dist|.angular|coverage|build|.nx|.git|*.log|*.lock" --dirsfirst'

# Pour voir uniquement la structure importante
alias tsrc='tree -L 4 -d -I "node_modules|dist" src/'

# Pour compter les fichiers sans le bruit
alias tcount='tree -I "node_modules|dist|.angular|coverage" | tail -1'

# Voir uniquement les composants/services
alias tng-components='tree src/app -P "*.component.ts|*.service.ts" -I "node_modules|*.spec.ts"'
# Structure sans les fichiers de test
alias tno-spec='tree -I "node_modules|dist|*.spec.ts|*.spec.js"'
